// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

// DEFINE VARIABLES
$main-pink: #ef7998;
$main-yellow: rgb(249, 228, 148);
$main-white: #fff;
$main-black: #000;
$main-grey: rgb(238, 238, 238);
$yellow-trans: rgba(238, 217, 134, 0.5);

// GLOBAL RESETS AND STYLES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
