@import 'config';

/***************************************** HEADER SECTION **************************************/
header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: black;
  top: -100vh;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);

  .nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 1.5rem;
      transition: padding 300ms ease-in;

      .nav-link {
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        transition: all 300ms ease-in;
      }

      &:hover .nav-link {
        color: $accent-color;
      }
    }
  }

  &.open {
    top: 0;
    border-radius: initial;
    z-index: 500;
  }
}

.menu-toggler {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  transition: transform 650ms ease-out;

  &.open {
    transform: rotate(-45deg);

    & .bar.half.start {
      transform: rotate(-450deg) translateX(0.7rem);
    }

    & .bar.half.end {
      transform: rotate(-450deg) translateX(-0.7rem);
    }
  }

  .bar {
    background: $accent-color;
    width: 100%;
    height: 2px;
    border-radius: 8px;

    &.half {
      width: 50%;

      &.start {
        transform-origin: right;
        transition: transform 650mx cubic-bezier(0.54, -0.81, 0.57, 0.57);
      }
      &.end {
        align-self: flex-end;
        transform-origin: left;
        transition: transform 650mx cubic-bezier(0.54, -0.81, 0.57, 0.57);
      }
    }
  }
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;

  h1 {
    font-size: 8rem;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 4rem;
  }

  h6 {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

/***************************************** ABOUT SECTION **************************************/
.about {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;

    // Puts both headings on top of each other
    line-height: 0;

    h1 {
      font-size: 7rem;
      opacity: 0.3;
    }

    h6 {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  .profile-img {
    flex: 1;
    margin-right: 5rem;
  }

  .about-details {
    flex: 1;
  }

  .social-media {
    margin-top: 3rem;

    .nav-list {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin-right: 3rem;

        i {
          font-size: 3rem;
          transition: color 650ms;
        }

        .fa-facebook-square:hover {
          color: $facebook-color;
        }
        .fa-twitter-square:hover {
          color: $twitter-color;
        }
        .fa-github-square:hover {
          color: $github-color;
        }
      }
    }
  }
}

/**************************************** SERVICES SECTION **************************************/
.my-skills {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 3rem -2px 2rem 0;
    }

    .icon-container {
      width: 6rem;
      height: 6rem;
      border: 3px solid $accent-color;
      background-color: #38a1f3;
      display: flex;
      transform: rotate(45deg);

      i {
        font-size: 3rem;
        margin: auto;
        transform: rotate(-45deg);
      }
    }
  }
}

/**************************************** PORTFOLIO SECTION **************************************/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }

  .portfolio-img {
    // Divides each item 50/50 (even)
    flex: 1;
  }
  .portfolio-description {
    flex: 1;

    h6 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 300;
      opacity: 0.5;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 300;
      margin: 1rem 0;
    }

    .cta {
      display: inline-block;
      margin-top: 2rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      color: $twitter-color;
      transition: color 650ms;

      &:hover {
        color: $facebook-color;
      }
    }
  }
}

/**************************************** EXPERIENCE SECTION **************************************/
.timeline {
  ul {
    border-left: 4px solid $twitter-color;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
  }

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 1rem;
  }

  .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      content: attr(data-date);
      left: -21.5rem;
      text-align: right;
      min-width: 15rem;
      opacity: 0.5;
    }

    &::after {
      content: '';
      box-shadow: 0 0 0 3px white;
      border-radius: 100%;
      left: -5.35rem;
      height: 0.5rem;
      width: 0.5rem;
      background-color: black;
    }
  }

  .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
}

/**************************************** CONTACT SECTION **************************************/
.contact {
  form {
    width: 70%;
    margin: 0 auto;

    label {
      font-size: 1.2rem;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 5px;
      border: none;
      outline-color: $twitter-color;
    }

    input[type='submit'] {
      width: initial;
      background-color: $twitter-color;
      color: white;
      padding: 0.75rem 1.75rem;
      border-radius: 0.8rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 650ms;

      &:hover {
        background-color: $facebook-color;
      }
    }
  }
}

/**************************************** FOOTER SECTION **************************************/
.copyright {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 2rem 0;
  position: relative;

  .up {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: $twitter-color;
    top: -2.5rem;
    right: 4.5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2000ms infinite;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      margin: auto;
    }
  }

  p {
    font-size: 1.25rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

/**************************************** MEDIA QUERIES **************************************/
@media (max-width: 768px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('/dist/images/mobile.jpg') no-repeat center fixed;
    background-size: cover;
  }

  .landing-text {
    h1 {
      font-size: 6rem;
    }

    h6 {
      font-size: 1rem;
    }
  }

  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 1.5rem 0 !important;
  }

  .nav-link {
    font-size: 1.5rem !important;
  }

  .about-heading h1 {
    font-size: 5rem !important;
  }
  .about-heading h6 {
    font-size: 1.5rem !important;
  }

  .section-heading h1 {
    font-size: 2rem !important;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem !important;
  }

  .icon-container {
    width: 3rem !important;
    height: 3rem !important;

    i {
      font-size: 1.5rem !important;
    }
  }

  .timeline ul {
    margin: 0 0 0 auto !important;
  }
  
}
